<h2>Profile-01 - James Jackson</h2><br/>

<p><%= image_tag("/Images/Profile1.jpg", :alt => "profile 1") %><br/>
  Name: James Jackson<br/>
  Age :	35 years<br/>
  Occupation :	Programmer<br/>
  Marital Status : Yes<br/>
  Housing Situation : Living in a Appartment<br/>
  Income : $1000 per week<br/>
  Short term : Build web application possible<br/>
  Long term Goal : To be pioneer in IT freelancing<br/>
  Computer Equipment : Hp - Laptop<br/>
  Internet Connection : 5 mbsp speed<br/>
  User Type : Programmer<br/>
  Skill Level : Expert<br/>
  Language Skills :Php, RoR<br/>
  Joined in : 12th Sept 2012<br/>
  Skill in Each Language :<br/>
  PHP : ***<br/>
  RoR : ****<br/>
  Experience : 2 years as Software Developer in Abc Company

</p>
