<div class="container">
  <h2>Problem Set 6</h2>
  <a class="list-group-item" href="/PS6/grp2.pdf">Critique of Group 2</a>
  <a class="list-group-item" href="/PS6/grp8.pdf">Critique of Group 8</a>
  <a class="list-group-item" href="/PS6/feedback.pdf">User Feedback</a>
  <a class="list-group-item" href="/PS6/actionplan.pdf">Summary of Criticism and Action Plan</a>
</div>

