<div class="container">
  <h2>Choose Department</h2>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @school.schoolname%></h3>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Department Code</th>
        <th>Department Name</th>
      </tr>
      </thead>
      <tbody>
      <% @departments.each do |i| %>
          <tr>
            <td style="width: 100px"><%= i.dep_code %></td>
            <td style="width: 400px"><%= link_to i.departmentname, controller: :exams, action: :course, id_department: i.id%> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
