<div class="container">
  <div class = "form-signin">
    <h2 class="form-signin-heading">Reset password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control'%>
        <%= f.submit 'Send' ,class: 'btn btn-lg btn-primary btn-block'%>
    <% end %>
   </div>

</div>

