<h2>Profile-01 - Emily Davies</h2><br/>

<p><%= image_tag("/Images/Profile2.jpg", :alt => "profile 2") %><br/>
  Name: Emily Davies<br/>
  Age :	55 years<br/>
  Occupation :	Invester<br/>
  Marital Status : Yes<br/>
  Housing Situation : Own House new Lake-side<br/>
  Income : $10000 per week<br/>
  Short term : Invest in profitable business<br/>
  Long term Goal : Be a leader in worlds marketing<br/>
  Computer Equipment : Mac-book<br/>
  Internet Connection : 5 mbsp speed<br/>
</p>
