<h1>Problem set 3</h1>

<p>
  <b>1-</b></br>
  <b>a- What will people be able learn about in the community that you’re building? Alternatively,
  if you are automating some collaborative workflow, what work will people accomplish with
  your system?</b></br>
  => From our project, people will be perform activities related freelancing specifically in IT field.</br>
  But unlike other freelancing websites our website is divided into 3 different categories :</br>
  1> People who want to make their project for themselves and just ask for free advice. The community can help them.</br>
  2> If they are no-programmer, they can seek for a freelancer to do a project.</br>
  3> If they are programmer with an idea but they don’t have enough fund, they can ask for investor (individual or by crowd funding).</br>
  </br>
  <b>b- What do you want people to say about your service after a visit?</b></br>
  =>After a visit, we hope that people will say that our website help them to complete their project.</br>
  </br>
  <b>c- What are the relevant distinct user classes?</b></br>
  => They are 2 distinct types of user in our project,</br>
     1> Programmers.</br>
     2> Other Users (Contributors). </br>
  All users can post a request to find a freelancer to do a task, or can be an investor in another project.</br>
     The programmer have the same right as that of a basic user but can also apply to being freelancer for anyone else project. And they can also post on the website to get some funds for their own project.</br>
  </br>
  <b>d- What should a user on a smart phone be able to do?</b></br>
  => We have not planned anything for the smart phone version yet. But mobile phone can open out site through mobile browsers and it will look just as it looks on the web version. But no web apps as of now.</br>
  </br>
</p>

<p><b>2 - Profile Links</b></br>
<%= link_to 'Profile 1', :action => 'profile1' %></br>
<%= link_to 'Profile 2', :action => 'profile2' %>
</p>


<p>
  <b>3 - For each class of user identified in Exercise 1a, produce a textual or graphical usage scenario for
    how that user will experience your service.</b></br>
  => Users wants Projects</br>
     Freelancer develops Projects</br>
     Funds are Needed for Projects provided by Users(Contributors)</br>
     Community(Users, Freelancers, Contributors)</br>
</p>

<p>
<b>4 - Offline alternatives.</b></br>
=> The offline alternative to our website would basically be doing work through contacts. If person A knows B then he would asked him to be his freelancer and similarly A would ask some C for funds who also might be someone he knows. So we are basically creating all these in our website.
</p>

<p>
<b>
  5 - Online Alternatives.
</b>
  =>The best online alternative to our project is odesk.com</br>
  Six elements of sustainability between our website and odesk.com</br>
  <b>magnet content:</b></br>
  <b>collaboration:</b></br>
  <b>searching and browsing capabilities : We will have more sub categories of each category.</b></br>
  <b>delegated moderation :</b></br>
  <b>means of removing bozos :</b></br>
  <b>means for extending the community : We are focusing on mainly Thai community.</b></br>
</p>

<p><b>6 -  Identify where the magnet content for your system is going to come from.</b> </p>

<p><b>7. Decide on hostname</b></p>

<p><b>8. Describe the intellectual property rights of you as developers, authors as contributors, and so on.</b></br>
=> We will have exclusive rights to our source.
</p>